[Interface]
Address = {{ wireguard_interface_address }}
PrivateKey = {{ ansible_facts.ansible_local.wg.interfaces.privkey }}
DNS = {{ wireguard_dns }}
MTU = {{ wireguard_mtu }}

{% for user in ansible_facts.ansible_local.wg.peers  %}
[Peer]
PublicKey = {{ ansible_facts.ansible_local.wg.peers[user].pubkey }}
AllowedIPs = {{ ansible_facts.ansible_local.wg.peers[user].address }}

{% endfor %}