[Interface]
Address = {{ wireguard_address }}/{{ wireguard_mask }}
PrivateKey = {{ ansible_facts.ansible_local.wg.interfaces.privkey }}
DNS = {{ wireguard_dns }}
MTU = {{ wireguard_mtu }}

{% for user in ansible_facts.ansible_local.wg.peers  %}
[Peer]
PublicKey = {{ ansible_facts.ansible_local.wg.peers[user].pubkey }}
AllowedIPs = 0.0.0.0/0

{% endfor %}